*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    background: #fbfbfb;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
}

header{
    width: 100%;
    height: 10vh;
    background: rgb(250, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

section{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 22px;
    background: cornflowerblue;
}
button:hover{
    background: red;
}
